<!DOCTYPE html>
<html>
<head>
  <title>Consolă admin</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_page.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-icons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-expand-lg ">
    <div class="container ">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="home()">Home</a>
                </li>
                {% if user.elev==True: %}
                  <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="proiecte()">Proiecte</a>
                  </li>
                {%endif%}
                {% if user.elev==False%}
                  <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="create()">Create</a>
                  </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="leaderboard()">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="">Program</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link click-scroll" href="javascript:void(0)" onclick="profil()">Profilul meu</a>
                </li>
            </ul>
        <div>
    </div>
  </nav>
    <div style="min-height: 300px;"class="cutie">
      <form action="/finaldean" method="POST">
        <input class="reset" style="position:absolute;left:49%" type="submit">
    </div>
    <video id="background-video" autoplay loop muted>
      <source src="{{ url_for('static', filename='video.mp4') }}" type="video/mp4">
    </video>
</body>
</html>
<script>
  function leaderboard() {
    window.location.href = "/leaderboard";
  }
  function profil(x)
  {
    window.location.href="profil/{{user.adresa}}"
  }
  function home()
  {
    window.location.href="/home"
  } 
  function proiecte()
  {
    window.location.href="/proiecte"
  }
  function create()
  {
    window.location.href="/create"
  }
  </script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='click-scroll.js') }}"></script>
  <script src="{{ url_for('static', filename='custom.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>