<!DOCTYPE html>
<html>
<head>
  <title>Consolă de admin</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_page.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-icons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-expand-lg ">
    <div class="container ">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="home()">Home</a>
                </li>
                {% if user.elev==True: %}
                  <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="proiecte()">Proiecte</a>
                  </li>
                {%endif%}
                {% if user.elev==False%}
                  <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="create()">Create</a>
                  </li>
                {%endif%}
                {% if user.admin==True%}
                    <li class="nav-item">
                      <a class="nav-link click-scroll" href="javascript:void(0)" onclick="admin()">Consolă Admin</a>
                    </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="leaderboard()">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="">Program</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link click-scroll" href="javascript:void(0)" onclick="profil()">Profilul meu</a>
                </li>
            </ul>
        <div>
    </div>
  </nav>
    <div class="cutie">
      <div class="info" style="width:100%;">
        {% if user.admin==False: %}
        <p>Nu știu cum ai ajuns aici, dar acestă pagină este doar pentru admin</p>
        {% endif %}
        {% if user.admin==True: %}
        <form action="/verificareAdmin" method="POST">
          <input type="submit" value="Învârte cheia">
        </form>
        <br>
        <form action="/finaldean" method="POST">
          <input type="submit" value="Resetare an școlar">
        </form>
        <br>
        {%if user.verificare==True:%}
        <p style="color:red">!Siguranța este oprită, schimbările sunt permanente, învârte cheia din nou pentru a o porni!</p>
        {%endif%}
        {%if user.verificare==False:%}
        <p style="color:green">!Siguranța este pornită, învârte cheia pentru a o opri!</p>
        {%endif%}
        {%endif%}
      </div>
    </div>
    <video id="background-video" autoplay loop muted>
      <source src="{{ url_for('static', filename='video.mp4') }}" type="video/mp4">
    </video>
</body>
</html>
<script>
  function leaderboard() {
    window.location.href = "/leaderboard";
  }
  function profil(x)
  {
    window.location.href="{{user.adresa}}"
  }
  function home()
  {
    window.location.href="/home"
  }
  function proiecte()
  {
    window.location.href="/proiecte"
  }
  function create()
  {
    window.location.href="/create"
  }
  function admin()
  {
    window.location.href="/admin"
  }
  </script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='click-scroll.js') }}"></script>
  <script src="{{ url_for('static', filename='custom.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>