<!DOCTYPE html>
<html>
<head>
  <title>Create</title>
</head>
<body>
  <div class="">

    <form action="/create" method="POST">
      <h1>Creaza un proiect</h1><br><br>
      <input type="text" name="nume" placeholder="Nume" required><br><br>
      <input type="text" name="linkImagine" placeholder="Link Imagine" required><br><br>
      <input type="checkbox" name="clasa" value="9A"> 9A<br>
      <input type="checkbox" name="clasa" value="9B"> 9B<br>
      <input type="checkbox" name="clasa" value="10A"> 10A<br>
      <input type="checkbox" name="clasa" value="10B"> 10B<br>
      <input type="checkbox" name="clasa" value="11A"> 11A<br>
      <input type="checkbox" name="clasa" value="11B"> 11B<br>
      <input type="checkbox" name="clasa" value="12A"> 12A<br>
      <input type="checkbox" name="clasa" value="12B"> 12B<br>
      <br><input type="checkbox" name="avansat" value="avansat"> Avansat
      <br><input type="checkbox" name="avansat" value="opt"> Optional Modular<br><br>
      <input type="submit" value="Login">
    </form>
</body>
</html>
