<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leaderboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='leaderboard.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-icons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-expand-lg ">
    <div class="container ">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="home()">Home</a>
                </li>
                {% if user_curent.elev==True: %}
                  <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="proiecte()">Proiecte</a>
                  </li>
                {%endif%}
                {% if user_curent.elev==False%}
                  <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="create()">Create</a>
                  </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="leaderboard()">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="">Program</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link click-scroll" href="javascript:void(0)" onclick="profil()">Profilul meu</a>
                </li>
            </ul>
        <div>
    </div>
  </nav>
  <br>
  <h1>Leaderboard</h1>
  <div class="top-leaders">
    {% for user in users[:3] %}
      {% if users.index(user)==0: %}
      <div style="background-color:  #FFD700!important;" class="leader">
        <img class ="imgProfile"src="{{ user.linkImagineU or 'https://t3.ftcdn.net/jpg/03/58/90/78/360_F_358907879_Vdu96gF4XVhjCZxN2kCG0THTsSQi8IhT.jpg'}}">
        <div class="info">
          <p>{{ user.nume }}</p>
          <p>Credite: {{ user.total_credits }}</p>
        </div>
      </div>
      {% endif %}
      {% if users.index(user)==1: %}
      <div style="margin-top: 100px!important; background-color:   #d7d7d7!important;"class="leader">
        <img class ="imgProfile"src="{{ user.linkImagineU or 'https://t3.ftcdn.net/jpg/03/58/90/78/360_F_358907879_Vdu96gF4XVhjCZxN2kCG0THTsSQi8IhT.jpg'}}">
        <div class="info">
          <p>{{ user.nume }}</p>
          <p>Credite: {{ user.total_credits }}</p>
        </div>
      </div>
      {% endif %}
      {% if users.index(user)==2: %}
      <div style="margin-top: 200px!important; background-color: #ad8a56!important;" class="leader">
        <img  class ="imgProfile"src="{{ user.linkImagineU or 'https://t3.ftcdn.net/jpg/03/58/90/78/360_F_358907879_Vdu96gF4XVhjCZxN2kCG0THTsSQi8IhT.jpg'}}">
        <div class="info">
          <p>{{ user.nume }}</p>
          <p>Credite: {{ user.total_credits }}</p>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <br>
  <ul class="players-list">
    <li>
      <span>Nume</span>
      <span>Credite</span>
    </li>
    {% for user in users[3:] %}
      <li>
        <span>{{ user.nume }}</span>
        <span>{{ user.total_credits }}</span>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
<script>
    function leaderboard() {
      window.location.href = "/leaderboard";
    }
    function profil(x)
    {
      window.location.href="profil/{{user_curent.adresa}}"
    }
    function home()
    {
      window.location.href="/home"
    }
    function proiecte()
    {
      window.location.href="/proiecte"
    }
    function create()
    {
    window.location.href="/create"
    }
    </script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='click-scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='custom.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>