<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leaderboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='leaderboard.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-icons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-expand-lg ">
    <div class="container ">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="home()">Home</a>
                </li>
                {% if user_curent.elev==True: %}
                  <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="proiecte()">Proiecte</a>
                  </li>
                {%endif%}
                {% if user_curent.elev==False%}
                  <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="create()">Create</a>
                  </li>
                {%endif%}
                {% if user_curent.admin==True%}
                    <li class="nav-item">
                      <a class="nav-link click-scroll" href="javascript:void(0)" onclick="admin()">Consolă Admin</a>
                    </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="leaderboard()">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="program()">Program</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link click-scroll" href="javascript:void(0)" onclick="profil()">Profilul meu</a>
                </li>
            </ul>
        <div>
    </div>
  </nav>
  <br>
  {% if user_curent.video == True: %}
  <video id="background-video" autoplay loop muted>
    <source src="{{ url_for('static', filename='video.mp4') }}" type="video/mp4">
  </video>
  {% endif%}
  <div class="cutie">
  <h1 style="margin-top:20px;">Leaderboard</h1>
  <div class="top-leaders">
    {% for user in users[:3] %}
      {% if users.index(user)==0: %}
      <div onclick="window.location.href = '/profil/{{user.adresa}}'" style="background-color:  #FFD700!important;" class="leader">
        {% if user.profile_image %}
            <img class="imgProfile"  src="{{ url_for('serve_image', filename=user.profile_image) }}">
            {% else %}
            <img class="imgProfile"  src="https://t3.ftcdn.net/jpg/03/58/90/78/360_F_358907879_Vdu96gF4XVhjCZxN2kCG0THTsSQi8IhT.jpg">
        {% endif %}
        <div class="info">
          <p {% if user==user_curent: %}style="color:#005a9f;font-weight:900;"{% endif %}>{{ user.nume }}</p>
          <p {% if user==user_curent: %}style="color:#005a9f;font-weight:900;"{% endif %}>Credite: {{ user.total_credits }}</p>
        </div>
      </div>
      {% endif %}
      {% if users.index(user)==1: %}
      <div onclick="window.location.href = '/profil/{{user.adresa}}'" style="margin-top: 100px!important; background-color:   #d7d7d7!important;"class="leader">
        {% if user.profile_image %}
            <img class="imgProfile"  src="{{ url_for('serve_image', filename=user.profile_image) }}">
            {% else %}
            <img class="imgProfile"  src="https://t3.ftcdn.net/jpg/03/58/90/78/360_F_358907879_Vdu96gF4XVhjCZxN2kCG0THTsSQi8IhT.jpg">
        {% endif %}
        <div class="info">
          <p {% if user==user_curent: %}style="color:#005a9f;font-weight:900;"{% endif %}>{{ user.nume }}</p>
          <p {% if user==user_curent: %}style="color:#005a9f;font-weight:900;"{% endif %}>Credite: {{ user.total_credits }}</p>
        </div>
      </div>
      {% endif %}
      {% if users.index(user)==2: %}
      <div onclick="window.location.href = '/profil/{{user.adresa}}'"  style="margin-top: 200px!important; background-color: #ad8a56!important;" class="leader">
        {% if user.profile_image %}
            <img class="imgProfile"  src="{{ url_for('serve_image', filename=user.profile_image) }}">
            {% else %}
            <img class="imgProfile"  src="https://t3.ftcdn.net/jpg/03/58/90/78/360_F_358907879_Vdu96gF4XVhjCZxN2kCG0THTsSQi8IhT.jpg">
        {% endif %}
        <div class="info">
          <p {% if user==user_curent: %}style="color:#005a9f;font-weight:900;"{% endif %}>{{ user.nume }}</p>
          <p {% if user==user_curent: %}style="color:#005a9f;font-weight:900;"{% endif %}>Credite: {{ user.total_credits }}</p>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <br>
  <ul class="players-list">
    <li>
      <span>Poziție</span>
      <span>Nume</span>
      <span>Credite</span>
    </li>
    {% for user in users[3:] %}
    <div onclick="window.location.href = '/profil/{{user.adresa}}'">
      <li>
        <span {% if user==user_curent: %}style="color:#005a9f;font-weight:900;"{% endif %}>{{ users.index(user) + 1 }}.</span><span {% if user==user_curent: %}style="color:#005a9f;font-weight:900;"{% endif %}>{{ user.nume }}</span>
        <span {% if user==user_curent: %}style="color:#005a9f;font-weight:900;"{% endif %}>{{ user.total_credits }}</span>
      </li>
     </div>
    {% endfor %}
  </ul>
  </div>
</body>
</html>
<script>
    function leaderboard() {
      window.location.href = "/leaderboard";
    }
    function profil(x)
    {
      window.location.href="profil/{{user_curent.adresa}}"
    }
    function home()
    {
      window.location.href="/home"
    }
    function proiecte()
    {
      window.location.href="/proiecte"
    }
    function create()
    {
    window.location.href="/create"
    }
    function admin()
    {
    window.location.href="/admin"
    }
    function program()
  {
    window.location.href="/program"
  }
    </script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='click-scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='custom.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
