<!DOCTYPE html>
<html>
<head>
  <title>Proiecte</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='proiecte.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-icons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-expand-lg ">
    <div class="container ">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="home()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="proiecte()">Proiecte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="leaderboard()">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="">Program</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link click-scroll" href="javascript:void(0)" onclick="profil()">Profilul meu</a>
                </li>
            </ul>
        <div>
    </div>
  </nav>
  <video id="background-video" autoplay loop muted>
    <source src="{{ url_for('static', filename='video.mp4') }}" type="video/mp4">
  </video>
  <div class="cutie" align="center">
    {% for project in available_projects %}
    {%if user.elev == True: %}
    <div class = "proiect">
      <form method="POST" onsubmit="return confirmare()" action="{{ url_for('proiecte') }}">
        <input type="hidden" name="join_project_id" value="{{ project.id }}">
        <div class = "inscriere">
          <input type="submit" class="btninscriere"value="ÎNSCRIE-TE">
        </div>
      </form>
      
      <img class="imgProiect" src="https://images.pond5.com/children-walking-school-cute-colorful-illustration-136160623_iconl_wide_nowm.jpeg">
      <h3><center>{{ project.nume }}</center></h3>
      <h4 align="center">{{ User.query.get(project.creator_id).nume }}</h4>
    </div>
    {% endif %}
    {%if user.elev == False: %}
    <div class = "proiect" onclick="window.location.href = '/proiect/{{project.adresaP}}'" style="height:250px">
      <img class="imgProiect" style="height:64%" src="https://images.pond5.com/children-walking-school-cute-colorful-illustration-136160623_iconl_wide_nowm.jpeg">
      <h3><center>{{ project.nume }}</center></h3>
      <h4 align="center">{{ User.query.get(project.creator_id).nume }}</h4>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</body>
</html>
<script>
  function leaderboard() {
    window.location.href = "/leaderboard";
  }
  function profil(x)
  {
    window.location.href="profil/{{user.adresa}}"
  }
  function home()
  {
    window.location.href="/home"
  }
  function proiecte()
  {
    window.location.href="/proiecte"
  }
  function confirmare() {
  if (confirm("Sigur vrei să te înscri în acest proiect? Dacă intri nu vei mai putea ieși.")) {
    return true;
  } else {
    return false;
  }
}
  </script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='click-scroll.js') }}"></script>
  <script src="{{ url_for('static', filename='custom.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>