<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
</head>
<body>

  <div class="container">

    <form action="/register" method="POST">
      <h3>Register</h3><br><br>
      <input type="text" name="email" placeholder="Email" required><br><br>
      <input type="password" name="parola" placeholder="Parolă" required><br><br>
      <input type="text" name="nume" placeholder="Nume" required><br><br>
      <input type="checkbox" name="clasa" value="9A"> 9A<br>
      <input type="checkbox" name="clasa" value="9B"> 9B<br>
      <input type="checkbox" name="clasa" value="10A"> 10A<br>
      <input type="checkbox" name="clasa" value="10B"> 10B<br>
      <input type="checkbox" name="clasa" value="11A"> 11A<br>
      <input type="checkbox" name="clasa" value="11B"> 11B<br>
      <input type="checkbox" name="clasa" value="12A"> 12A<br>
      <input type="checkbox" name="clasa" value="12B"> 12B<br><br>
      <input type="checkbox" name="elev" value="DA">Elev<br><br>
      <input type="checkbox" name="elev" value="NU">Profesor<br><br>
      <input type="submit" value="Register">
    </form>
</body>

  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='click-scroll.js') }}"></script>
  <script src="{{ url_for('static', filename='custom.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
</html>
