<!Doctype html>
<html>
	<head>
		<title>Update</title>
	</head>
	<body>
		<h1>Vartrack Versiunea 1.2 - Schimbări</h1>
		<h2>Elevi: </h2>
		<ul>
			<li>Pentru a evita confuziile, avansatele vor fi colorate cu albastru, iar opționalele modulare cu portocaliu;</li>
		</ul>
		<h2>Profesori: </h2>
		<ul>
			<li>Pentru a evita confuziile, avansatele vor fi colorate cu albastru, iar opționalele modulare cu portocaliu;</li>
			<li>În căsuțele proiectelor de pe pagina principală vor fi afișate doar numele proiectelor și clasale pentru care acestea sunt disponibile;</li>
			<li>Acum puteți să dezactivați înscrierile pentru un proiect;</li>
			<li>Acum puteți din pagina proiectului să schimbați numele acestuia și clasele pentru care acesta este disponibil;</li>
			<li>În căsuțele proiectelor de pe pagina principală va apărea „Clasă: ” dacă proiectul este disponibil unui singure clase, și „Clase: ” dacă este disponibil pentru mai multe clase;</li>
			<li>Tot în căsuțele proiectelor de pe pagina principală, „Clase: ” va fi urmat de „TOATE”, dacă proiectul este disponibil tuturor claselor, iar de clasele acestuia (ex. Clase: 9A 10B 11A) dacă nu este disponibil tuturor claselor.</li>
		</ul>
	</body>
</html>
