<!DOCTYPE html>
<html>
<head>
  <title>Pagina {{user_pagina.nume}}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_page.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-icons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-expand-lg ">
    <div class="container ">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="home()">Home</a>
                </li>
                {% if user.elev==True: %}
                  <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="proiecte()">Proiecte</a>
                  </li>
                {%endif%}
                {% if user.elev==False%}
                  <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="create()">Create</a>
                  </li>
                {%endif%}
                {% if user.admin==True%}
                    <li class="nav-item">
                      <a class="nav-link click-scroll" href="javascript:void(0)" onclick="admin()">Consolă Admin</a>
                    </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="leaderboard()">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="javascript:void(0)" onclick="program()">Program</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link click-scroll" href="javascript:void(0)" onclick="profil()">Profilul meu</a>
                </li>
            </ul>
        <div>
    </div>
  </nav>
    <div class="cutie">
      {% if user_pagina.profile_image %}
        <img class="imagine" align="right" src="{{ url_for('serve_image', filename=user_pagina.profile_image) }}">
      {% else %}
        <img class="imagine" align="right" src="https://t3.ftcdn.net/jpg/03/58/90/78/360_F_358907879_Vdu96gF4XVhjCZxN2kCG0THTsSQi8IhT.jpg">
      {% endif %}
      <div class="info" style="width:96%!important;">
        {% if user_pagina.elev==True: %}
        <p>Nume: {{user_pagina.nume}}</p>
        <p>Clasa: {{user_pagina.clasa}}</p>
        <p>Email: {{user_pagina.email}}</p>
        <p>Credite: {{credite}}</p>
     
        {%if user_pagina.elev==True and user!=user_pagina:%}<p>Proiecte: </p>{%endif%}
        {% endif %}
        {% if user_pagina==user: %}
        <form action="/actualizarImagine" method="POST" enctype="multipart/form-data">
            <input type="file" name="image-upload" id="image-upload" accept="image/*"><br><br>
            <input type="submit" value="Schimbă Imaginea">
        </form>
        <br>
        <form action="/actualizarParola" method="POST">
          <input style="margin-bottom: 0;" type="text" name="ParolaN" placeholder="Parolă nouă"><br><br>
          <input type="submit" value="Schimbă Parola">
        </form><br>
	<form method="POST">
                <input type="hidden" name="action" value="video">
                <input type="submit" {% if user.video == True: %} style="background-color:#b0050e!important; color:white!important" value="Oprește video" {% else %} style="background-color:#149127!important; color:white!important" value="Pornește video" {% endif %} >
	</form><br>
        <form method="POST">
	  <input type="hidden" name="action" value="log">
          <input type="submit" value="Log out">
	</form><br>
    </div>
      {%endif%}
      {%if user_pagina.elev==True and user!=user_pagina:%}
        <div class="cutieButCooler">
            {% for proiect in user_pagina.projects:%}
                {% if proiect.vizibil==True: %}
		<div onclick="window.location.href='/proiect/{{proiect.adresaP}}'"{% if proiect.avansat == False:%}style="background-color:#e1611e!important"{%endif%} class = "proiect">
                    {% if proiect.imgProiect:%}
                        <img class="imgProiect" src="{{ url_for('serve_image', filename=proiect.imgProiect) }}">
                    {% else %}
                        <img class="imgProiect" src="https://images.pond5.com/children-walking-school-cute-colorful-illustration-136160623_iconl_wide_nowm.jpeg">
                    {% endif %}
                    <h3><center>{{ proiect.nume }}</center></h3>
                    <h4 align="center">{{ User.query.get(proiect.creator_id).nume }}</h4>
                    <h5 align="center">Credite: {% for association in db.session.query(user_project_association).filter_by(user_id=user_pagina.id, project_id=proiect.id) %}{{ association.credits }}  {% endfor %}</h5>
                </div>
                {%endif%}
            {% endfor %}
        </div>
      {% endif %}
    </div>
    {% if user.video==True:%}
    <video id="background-video" autoplay loop muted>
      <source src="{{ url_for('static', filename='video.mp4') }}" type="video/mp4">
    </video>
    {% endif %}
</body>
</html>
<script>
  function leaderboard() {
    window.location.href = "/leaderboard";
  }
  function profil(x)
  {
    window.location.href="{{user.adresa}}"
  }
  function home()
  {
    window.location.href="/home"
  }
  function proiecte()
  {
    window.location.href="/proiecte"
  }
  function create()
  {
    window.location.href="/create"
  }
  function admin()
  {
    window.location.href="/admin"
  }
  function program()
  {
    window.location.href="/program"
  }
  </script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='click-scroll.js') }}"></script>
  <script src="{{ url_for('static', filename='custom.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
